/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
  --accent-green: #00ff38;
  --accent-orange: #ff7a00;
  --accent-red: #ff0000;
}
body {
  background: #164067;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #78beff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
header h1 {
  color: var(--accent-green);
  text-shadow: 1px 1px 2.5px #000;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* profile */
.profile {
  display: grid;
  grid-template-columns: 1.8fr 8.7fr;
  gap: 10px;
}
.profile h2,
h4 {
  font-weight: 100;
}
.profile h2 {
  font-size: 30px;
  margin-bottom: 1.5px;
}
.sidebar {
  width: 100%;
}
.sidebar .avatar {
  width: 200px;
  height: 200px;
  border-radius: 4px;
  border: 5px solid var(--primary);
}

ul {
  padding: 0px 25px;
}
li {
  margin-bottom: 12px;
  list-style-image: url(./images/location-pin.svg);
}

.meetupLocations {
  padding-top: 10px;
}

/* li::marker {
  content: counter(list-item) "›  ";
  color: var(--primary);
} */

/* profile tabs */
.profile-tabs,
.review-tabs {
  background: #fff;
  border-radius: 4px;
  /* margin: 20px auto; */
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  width: 98%;
}

.profile-tabs {
  margin: 20px;
}

.profile-tabs .header-tabs {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #bbb;
}
.profile-tabs .tab {
  position: relative;
  padding: 0px 20px;
  height: 60px;
  line-height: 50px;
  z-index: 2;
  cursor: pointer;
  color: #222;
  font-weight: 600;
  /* Disable text cursor within a div */
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}
.profile-tabs .tab:before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 20px;
  width: 25px;
  height: 5px;
  background: #888;
  border-radius: 10px;
}
.profile-tabs .tab.active {
  border: 1px solid #bbb;
  border-bottom: none;
  box-shadow: 0px 1px 0px #fff;
  /* color: var(--accent-green); */
  text-shadow: 1px 1px px #000;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.profile-tabs .tab.active:before {
  background: var(--accent-green);
}
.profile-tabs .content-tabs {
  padding: 30px 15px;
}
.profile-tabs .content-tabs .content h2 {
  color: #222;
  margin-bottom: -10px;
}
.profile-tabs .content-tabs .content > p {
  color: #555;
  margin-bottom: 15px;
}
.content-tabs .content {
  display: none;
  width: 100%;
}
.content-tabs .content.active {
  display: block;
}

.review-tabs {
  margin: 0;
  padding: 20px 0;
  width: 100%;
}

/* settings page */
.settings {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 5%;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.settings img {
  width: 200px;
  height: 200px;
  border-radius: 4px;
  border: 5px solid var(--primary);
}
.settings h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.settings .upload-image-container {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  gap: 40px;
}
.settings .desc-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}
.settings .desc-details button {
  align-self: start;
}
.settings .img-details {
  margin-top: 10px;
  margin-top: 20px;
}
.settings .img-details label {
  margin-bottom: 10px;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new workout form */
label,
input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}
nav button,
.custom-link {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}
.outline {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
}
/* .red {
  color: #fff;
  background: var(--accent-red);
  border: none;
}
.orange {
  color: #fff;
  background: var(--accent-orange);
  border: none;
} */

/* auth forms */
form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

/* add listings */
.searchDiv {
  display: flex;
  flex-flow: row nowrap;
  align-self: center;
  justify-self: center;
  padding: 0;
  width: 40%;
}

.searchDiv input {
  padding: 0;
  margin: 0;
}

.listingWindow {
  /* width: 100%; */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 2%;
  row-gap: 20px;
  margin: 20px auto;
}

.materialWhite {
  background-color: white;
  /* box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.1); */
  border-radius: 10px;
}

.listingItem {
  display: flex;
  flex-flow: column nowrap;
  width: 30%;
  flex-basis: 20%;
  height: auto;
  padding: 1%;
}
.listingDesc {
  width: 100%;
  min-height: 10em;
  resize: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 1%;
}
.Thumbnail {
  width: 100%;
  height: 150px;
}

.addListingDiv {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 5%;
}

.addButton {
  margin-top: 3%;
  width: 100%;
}

.imageInputContent {
  display: flex;
  flex-flow: row nowrap;
}

.imageRemoveButton {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0px;
  background-color: rgba(53, 53, 53, 0.493);
  color: white;
  z-index: 999;
}

.imageRemoveButton:hover {
  background-color: rgb(53, 53, 53);
}

.imageRemoveButton {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0px;
  background-color: rgba(53, 53, 53, 0.493);
  color: white;
  z-index: 999;
}

.imageRemoveButton:hover {
  background-color: rgb(53, 53, 53);
}

.categorySelect {
  width: 100%;
}

.imageInputContent input {
  display: none;
}
.imgUpload {
  display: none;
}
.TMIconButton {
  background-color: transparent;
  padding-left: 0px;
}

.deleteButton {
  background-color: red;
}

.chatHistoryScreenDiv {
  width: 100%;
  height: 90%;
  /* background-color: white; */
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}
.chatPersonDiv {
  height: 7em;
  padding-left: 1%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  gap: 2%;
}

.chatPicture {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.historyBackButton {
  margin-bottom: 2%;
}
.chatHistory {
  width: 100%;
  max-height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 20px;
}
.chatHistoryHeader {
  display: flex;
  flex-flow: row nowrap;
  padding: 1%;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.1);
  align-items: center;
  gap: 20px;
}

.chatInputFooter {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 1%;
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.1);
  gap: 20px;
  border-radius: 0px 0px 20px 20px;
  background-color: #1aac83;
}

.chatInput {
  width: 100%;
}
::-webkit-input-placeholder {
  font-weight: 1000;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 1000;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 1000;
}

:-ms-input-placeholder {
  font-weight: 1000;
}
.chatInput:focus {
  outline: none !important;
}

.sendChatButton {
  color: #78beff;
  width: 50px;
  height: 50px;
  background-color: white;
  border: 3px solid white;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.sendChatButton:hover {
  color: red;
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.1);
}

.chatHistoryContent {
  overflow: scroll;
  display: flex;
  flex-flow: column;
  padding-top: 1%;
  padding-bottom: 30px;
  background-color: white;
  gap: 20px;
}

.toUserBaloon {
  background-color: #bbb;
  border-radius: 20px;
  display: flex;
  flex-flow: row wrap;
  align-self: flex-start;
  width: 70%;
  padding: 2%;
}

.fromUserBaloon {
  background-color: var(--primary);
  border-radius: 20px;
  display: flex;
  flex-flow: row wrap;
  align-self: flex-end;
  width: 70%;
  padding: 2%;
}

.userListingThumb {
  width: 100px;
  height: 100px;
}

img[src=""] {
  display: none;
}

.noPointers {
  pointer-events: none;
}
.havePointers {
  pointer-events: auto;
}
.imgUploadDisplay {
  position: relative;
  flex-basis: 20%;
  height: auto;
  padding: 1%;
}

.uploadThumb {
  width: 300px;
  height: 150px;
  object-fit: contain;
}

.error {
  color: red;
}

.listingItem:hover {
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.3);
  color: #00ff38;
}

.categoryDiv {
}
.infoDiv {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding-top: 5%;
}

.listingInfo {
  display: flex;
  flex-flow: column nowrap;
  width: 40%;
}

.buttonNav {
  display: flex;
  flex-flow: row nowrap;
  gap: 5%;
  width: 100%;
}

.buttonNav {
  display: flex;
  flex-flow: row nowrap;
  gap: 5%;
  width: 100%;
}

/* submenu */
nav {
  position: relative;
}
.drop-down-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.drop-down-menu img {
  width: 25px;
  border-radius: 4px;
  border: 2px solid var(--primary);
}
.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 0px;
  width: 150px;
  max-height: 0px;
  overflow: hidden;
  z-index: 9999;
  /* transition: max-height 0.2s; */
}
.sub-menu-wrap.open-menu {
  max-height: 300px;
}
.sub-menu {
  background-color: #fff;
  padding: 15px;
  margin-top: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border: 2px solid var(--primary);
}
.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 0px !important;
  cursor: pointer !important;
}
.sub-menu-link p {
  width: 100%;
  transition: transform 0.2s;
  margin: 8px;
}
.sub-menu-link:hover p {
  /* font-weight: 500; */
  color: var(--primary);
}
.react-icons {
  vertical-align: middle;
  color: var(--primary);
}
.icon-small {
  font-size: 12px;
}

.reviews {
  width: 70%;
}
.standardSize {
  width: 50px;
  height: 50px;
}

.noNew {
  padding: 3%;
  border-radius: 10%;
  background-color: var(--primary);
  color: white;
}

.newChat {
  padding: 3%;
  border-radius: 10%;
  border: 3px solid red;
  color: white;
  background-color: var(--primary);
}

.errorBoundaryDiv {
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
  padding: 3%;
  background-color: white;
  border-radius: 30px;
  width: 30em;
}

.confirmWindowBackdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.noResult {
  background-color: white;
  border-radius: 30px;
  padding: 10%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.breakit {
  word-break: break-word;
}

.hide {
  display: none;
}
.show {
  display: block;
}
